	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide" src="<%= asset_path 'Image1.jpg' %>" alt="First slide">		
			</div>

			<div class="item">
				<img class="second-slide" src="<%= asset_path 'Image2.jpg' %>" alt="Second slide">		
			</div>

			<div class="item">
				<img class="third-slide" src="<%= asset_path 'Image3.jpg' %>" alt="Third slide">		
			</div>

			<div class="item">
				<img class="fourth-slide" src="<%= asset_path 'Image4.jpg' %>" alt="Fourth slide">		
			</div>
		</div>
	</div><!-- /.carousel -->