// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red{
    color:red;
 }
.form-area
{    
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;	
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.toppad
{margin-top:20px;
}
